-e git+https://github.com/phovea/phovea_security_flask.git@v0.0.5#egg=phovea_security_flask
-e git+https://github.com/phovea/phovea_server.git@v0.0.5#egg=phovea_server
selenium==2.48.0
python-memcached==1.57