python-memcached==1.59
-e git+https://github.com/phovea/phovea_server.git@develop#egg=phovea_server
-e git+https://github.com/phovea/phovea_security_flask.git@stoiber/webpack4#egg=phovea_security_flask
