/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body > div {
  display: flex;
}

aside {
  background-color: #fdfdfd;
}

main {
  position: relative;

  div.block {
    position: absolute;

    .toolbar {
      text-align: right;
      i:hover {
        font-weight: bold;
      }
    }
  }
}

$select-color: orange;

.select-selected {
  //svg variant
  stroke: $select-color !important;
  stroke-width: 1px;
  fill: $select-color !important;
  vector-effect : non-scaling-stroke;

  //html variant
  border: 1px solid $select-color !important;
  background-color: $select-color !important;
}

.provenance-simple-vis {
  line {
    stroke: black;
  }
  circle {
    fill: steelblue;

    &.act {
      fill: #00cfff;
    }
  }

  .data {
    stroke: green;
    &.fill {
      fill: green;
    }
  }
  .selection {
    stroke: orange;
    &.fill {
      fill: orange;
    }
  }
  .visual {
    stroke: blue;
    &.fill {
      fill: blue;
    }
  }
  .layout {
    stroke: #02c9ff;
    &.fill {
      fill: #02c9ff;
    }
  }
  .logic {
    stroke: gray;
    &.fill {
      fill: gray;
    }
  }
  .custom {
    stroke: white;
    &.fill {
      fill: white;
    }
  }
  .annotation {
    stroke: lightblue;
    &.fill {
      fill: lightblue;
    }
  }
}