/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


body > div.box {
  display: flex;
  align-items: stretch;
  flex-flow: column;
  height: 100%;
}

body > div.box > div.content {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}

aside {
  background-color: #E5E5E5;

  &.left {
    width: 15vw;
  }
}

footer {
  min-height: 3em;
  > div {
    display: inline-block;
  }
}

.selectioninfo {
  .no-selection-selected.no-selection-hovered {
    display: none;
  }
}

main {
  position: relative;

  flex: 1 1 auto;

  div.block {
    position: absolute;

    .toolbar {
      text-align: right;
      i:hover {
        font-weight: bold;
      }
    }
  }
}

$clue_triangle_width:30px;

#modeselector {
  color: white;
  width: 30em;


  .clue_slidermodeselector {
    label {
      margin: 0 5px;
    }
  }

  .clue_trianglemodeselector {
    circle.point {
      fill: red;
      stroke: lighten(red, 0.3);
      stroke-width: 2;
      cursor: crosshair;
    }
    path {
      fill: lightgray;
      cursor: crosshair;
    }
  }
}


$select-color: orange;
$hover-color: #ffdd05;

/*.select-selected {
  //svg variant
  stroke: $select-color !important;
  stroke-width: 1px;
  fill: $select-color !important;
  vector-effect : non-scaling-stroke;

  //html variant
  border: 1px solid $select-color !important;
  background-color: $select-color !important;
}*/

.provenance-simple-vis {
  line {
    stroke: black;
    fill: none;
  }

  path {
    fill: none;
    stroke: black;
  }

  g.state {
    cursor: pointer;

    &.select-selected {
      circle {
        fill: $select-color
      }
    }
    &.select-hovered {
      circle {
        fill: $hover-color;
      }
    }

    circle {
      fill: #bbbbbb;
    }

    &.act {
      circle {
       //fill: darkgray;
       stroke: black;
      }
    }

    &.past {
      text {
        stroke: darkgray;
      }
    }

    &.future {
      circle {
        //fill: lightgray;
        stroke: lightgray;
      }
      text {
        font-style: italic;
      }
    }

    text {
      font-size: 8pt;
    }
  }




  .data {
    stroke: green;
    &.fill {
      fill: green;
    }
  }
  .selection {
    stroke: orange;
    &.fill {
      fill: orange;
    }
  }
  .visual {
    stroke: blue;
    &.fill {
      fill: blue;
    }
  }
  .layout {
    stroke: #02c9ff;
    &.fill {
      fill: #02c9ff;
    }
  }
  .logic {
    stroke: gray;
    &.fill {
      fill: gray;
    }
  }
  .custom {
    stroke: white;
    &.fill {
      fill: white;
    }
  }
  .annotation {
    stroke: lightblue;
    &.fill {
      fill: lightblue;
    }
  }
}

.popover div.preview {
  img {
    width: 230px;
    height: auto;
    border: 1px solid black;
  }
}

.text-overlay {
  position: absolute;
  background-color: white;
  opacity: 0.98;

  font-size: larger;

  width: 100%;
  height: 100%;

  z-index: 99;
}

.text-annotation {
  position: absolute;
  left: 0;
  top: 0;

  font-size: larger;

  z-index: 100;
}

.provenance-simple-story-vis {
  position: relative;

  div.time {
    border-top: 2px solid gray;
    position: absolute;
    top: 1.5em;
    width: 100%;
  }

  div.story {
    display: inline-block;
    margin: 0 2em;

    font-size: 7pt;
    text-align: center;

    div {
      display: block;
      margin: 0;
    }

    div.glyph span {
      font-size: smaller;
      vertical-align:super;
    }

    &.select-selected {
      div.glyph {
        color: $select-color
      }
    }
    &.select-hovered {
      div.glyph {
        color: $hover-color;
      }
    }
  }
}