/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body > div {
  display: flex;
}

main {
  position: relative;

  div.block {
    position: absolute;

    .toolbar {
      text-align: right;
      i:hover {
        font-weight: bold;
      }
    }
  }
}
