
.provenance-retrieval-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30em;

  > .header {
    flex: 0 0 auto;
  }
  > .body {
    padding: 5px;

    &.scrollable {
      max-height: 90vh;
      overflow-y: auto;
      padding-bottom: 50px;
    }
  }

  .search-results {
    display: block;
    padding-left: 0;
    list-style: none;

    > li {
      color: #555;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: relative;

      &:not(:first-child) {
        margin: 10px 0;
      }
    }

    article {
      padding: 5px 5px 2px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title {
        cursor: pointer;
        width: 100%;

        &:hover {
          font-weight: bold;
        }
      }

      .seq-length {
        cursor: pointer;
        user-select: none;

        &:hover {
          font-weight: bold;
        }
      }
    }

    + p {
      display: none;
    }

    &:empty {
      display: none;

      + p {
        display: block;
      }
    }
  }

  .states {
    display: block;
    padding-left: 0;
    list-style: none;

    > li {
      border-bottom: 1px solid #eee;

      &:first-child + li {
        border-top: 1px solid #eee;
      }

      &:first-child,
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .similarity-bar {
    margin: 0;
    padding: 3px 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    > li {
      height: 2px;
    }

    &:after {
      content: attr(data-tooltip);
      position: absolute;
      z-index: 2;
      color: white;
      background: rgba(50, 50, 50, 0.9);
      padding: 3px 5px;
      border-radius: 4px;
      white-space: pre-line;
      font-size: 0.85em;
      margin-top: 5px;
      user-select: none;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s ease 0.5s, opacity 0.5s ease 0s;
      text-align: right;
    }

    &:hover:after {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0.5s;
    }
  }
}
