/**
 * Additional jQuery select2 styles
 */


@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";

.select2-results {
  font-size: 14px;
}

.select2-rendered__match {
  background: #FFEB3B;
  color: black;
}

.select2-results__option[role=option] > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select2-rendered__result-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.select2-rendered__prop-text {
  font-size: 12px;
  color: #ccc;

  &:before {
    content: 'from';
    padding: 0 3px 0 5px;
  }
}

.select2-rendered__is-active {
  display: block;
  background-color: $select-color;
  border-radius: 6px;
  width: 6px;
  height: 6px;
}

.select2-rendered__num-count {
  width: 30px;
  margin-left: 10px;
  position: relative;
  border-left: 1px solid #aaa;
  padding: 2px 0;

  > div {
    background-color: #e0e0e0;
    height: 6px;
  }
}

.select2-container--bootstrap .select2-results__group {
  color: #444;
  background: #efefef;
}


.select2-results__option .ensg,
.select2-selection__rendered .ensg {
  font-size: 12px;
  color: #ccc;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
  max-height:300px;
}

.select2-container--bootstrap .select2-results__option[aria-disabled=true] {
  opacity: 0.5;
}
