/**
 * Created by Samuel Gratzl on 27.08.2014.
 */
$select-color: orange !default;
$select-color-bright: #ffdca3 !default;
$hover-color: black !default;

$hover-presentation-color: #f0bb00 !default;

$core_colour: #60AA85 !default;
$core_colour_text: #F5F3F3 !default;
$core_colour_selected:#72C29B !default;
$core_border : $core_colour !default;

$exploration-stage: $core_colour !default;
$exploration-stage-hover: $core_colour_selected !default;

$authoring-stage: $core_colour !default;
$authoring-stage-hover: $core_colour_selected !default;
$presentation-stage: $core_colour !default;
$presentation-stage-hover: $core_colour_selected !default;

$core_player: $authoring-stage !default;
$core_duration:#D8D8D8 !default;


$header-menu-bg-color: rgb(190, 218, 194) !default;
$header-menu-color: #333 !default;

$core_color_almost_black: black !default;

$annotation_color: #009ACD !default;
$annotation_color_hover: #006b90 !default;

$anchor_color: red !default;
$anchor_color_hover: darkred !default;
