


div .chart_handle{
	display: inline-block;
	position: absolute;
	cursor: pointer;
	z-index:4;
}

.container{
	position: relative;

}

.bar_description{
	display: inline-block;
	position: absolute;
	transform-origin: left;
	transform: rotate(45deg);
	margin-top: -2px;
	font: 14px sans-serif;
}



.provenance-similarity-vis {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 300px;

    &:first-child {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
      color: $core_colour_text;
  }

  .catWeightContainer {
    position: relative;
    background-color: $core_colour;
    border-color: $core_colour;
    transition: all 300ms;
    max-width: 100%;

    .barContainer {
      padding: 0px;
      border: 0px;
      border-radius: $default_border_radius;
      position: absolute;
      height: 100%;
      top: 0%;
      left: 0%;
      max-width: 100%;
    }

    .barContainer:hover {
      .bar.compact {
        border: 1px;
        border-color: black;
        border-radius: 6px;
        transition: all 100ms;
      }
    }

  }

  .catWeightContainer:hover{
    background-color: white;
    transition: background-color 100ms;


  }

  .catWeightContainer.closed{
    cursor: move;
  }

  .bar {
    font: 12px sans-serif;
    text-align: center;
    position: absolute;
    border-radius: $default_border_radius;
    border-color: black;
  }


  .bar.compact {
    overflow: hidden;
    line-height: 22px;
    max-height: 22px ;
  }


   .bar.adjusting {
     //text-align: left;
     //margin-top: 4px;
  }


  .stateLinupView{
    margin: 5px;
    padding: 2px;
    vertical-align: middle;

  }


}
