/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

$select-color: #a2a3a3;
$hover-color: #bebfbf;
$hover-presentation-color: #f0bb00;

$core_colour: #60AA85;
$core_colour_text: #F5F3F3;
$core_colour_selected:#72C29B;
$core_border : #bcbaba;

$exploration-stage: #60AA85;
$exploration-stage-hover: #72C29B;

$authoring-stage: #60AA85;
$authoring-stage-hover: #72C29B;
$presentation-stage: #60AA85;
$presentation-stage-hover: #72C29B;

$core_player:#D8D8D8;
$core_duration:#D8D8D8;

