/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

$select-color: green;
$hover-color: #00ba00;

$exploration-stage: #e3e3e3;
$exploration-stage-hover: #b3b3b3;

$authoring-stage: #e3e3e3;
$authoring-stage-hover: #b3b3b3;
$presentation-stage: #e3e3e3;
$presentation-stage-hover: #b3b3b3;
